#website5-page section#features {
  margin-top: 260px;
}

#website5-page .main {
  padding-bottom: 0;
  padding-top: 115px;
}

#website5-page .main .login-box {
  text-align: center;
  margin-top: 9%;
}

#website5-page .main .login-box img {
  width: 355px;
  height: 400px;
  position: relative;
  margin-bottom: 50px;
}

#website5-page .main .login-box h1 {
  font-size: 26px;
  font-family: PoppinsMedium;
  line-height: 32px;
  color: #000;
  letter-spacing: -1px;
  margin-bottom: 43px;
}

#website5-page .main .login-box button {
  background: transparent;
  border: 1px solid #ccc;
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #4b4b4b;
  padding: 16px 30px;
  cursor: pointer;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#website5-page .main .login-box button:hover {
  opacity: 0.7;
}
